.character-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
}
.characters-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 2rem;
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
}
.character-container__img {
  object-fit: cover;
  max-inline-size: 86%;
  block-size: auto;
  object-position: center;
}

.rounded {
  border: 3px solid #03bfcb;
  border-radius: 50%;
}
.character-container__description {
  display: flex;
  flex-direction: column;
}
.character-container__description span {
  color: #03bfcb;
  font-size: small;
  margin-left: 0.5em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .character-container {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .character-container__img {
    max-width: 60%;
  }
}
